<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/simple-line-icons/css/simple-line-icons.css">
    
    
    <!-- Theme CSS -->
    <link href="css/new-age.min.css" rel="stylesheet">

    

</head>

<body id="page-top">
	

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
				<div id ="the-basics">
                 <input type="text" class="typeahead  search-query form-control" placeholder="Search" />
				 </div>
            </div>
 <div class="player">
 <div class="player-control">
<i class="fa fa-step-backward fa-2x" aria-hidden="true"></i> <i id="starter" class="fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
<i class="fa fa-step-forward fa-2x" aria-hidden="true"></i>
</div>
	<div class="progress" style="height:2px; margin-bottom: 0px; width: 264px; margin-top: 14px;left: 68px;">
	<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
     </div>
  </div>
<audio >
  <source >
</audio>
<audio src="demo.wav" type="audio/mpeg" id="audio_src">
  Your browser does not support the <code>audio</code> element.
</audio>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
		
		
        <!-- /.container-fluid -->
    </nav>


    <!-- jQuery -->
    <script src="lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
   

    <!-- Theme JavaScript -->
    <script src="lib/new-age.js"></script>

</body>

</html>